/* standard cell */
.list-cell, .tree-cell, .tree-table-row-cell, .table-row-cell {
    -fx-background: -fx-control-inner-background;
    -fx-background-color: derive(-fx-background, -30%);
    -fx-text-fill: -fx-text-base-color;
}
.tree-table-cell, .table-cell {
    -fx-text-fill: -fx-text-base-color;
}
/* Selected rows */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
    -fx-background: -fx-selection-bar;
}
/* Selected when control is not focused */
.list-cell:filled:selected,
.tree-cell:filled:selected,
.table-row-cell:filled:selected,
.tree-table-row-cell:filled:selected,
.table-row-cell:filled > .table-cell:selected,
.tree-table-row-cell:filled > .tree-table-cell:selected {
    -fx-background: -fx-selection-bar-non-focused;
}
/* focused cell (keyboard navigation) */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:focused,
.table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:focused,
.tree-table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:focused,
.table-view:focused:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:focused,
.tree-table-view:focused:cell-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell > .tree-table-cell:focused {
    -fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
}
.list-cell:odd, .tree-cell:odd, .tree-table-row-cell:odd, .table-row-cell:odd {
    -fx-background: derive(-fx-control-inner-background-alt, -20%);
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: white;
}

.tree-table-row-cell .arrow {
    -fx-background-color: white;
}

.inverted-color {
    -fx-font-size: 12pt;
    -fx-background-color: black;
    -fx-font-weight: bold;
    -fx-text-fill: white;

}

.regular-color {
    -fx-font-size:12pt;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-width: 2;
    -fx-border-color:black;
    -fx-padding: 4 2 4 2;
}

.dashed {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: dashed;
    -fx-background-color: rgba(.5, .5, .5, .5);
}